.section{
  background: #060B28;
  min-height: 100vh;
}

.bannerHome{
  width: 100%;
  /* background: #EB6C6C; */
  background: #060B28;
  height: 100vh;
}

.bannerContent{
  margin-top: 50px;
  width: 100%;
}

.bannerDescription{
  height: 250px;
}

.bannerContent .btnBanner{
  width: 280px;
  background: #d82912;
  font-size: 20px;
  color: #f7f7f7;
}

.bannerContent .btnBanner:hover{
  background: #ff1e00aa;
}

.imgBanner{
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.filtros{
  background: #e5c10d;
}

.form input{
  width: 100%;
  background: #060B28;
  background: #1733d31e;
  border: 2px solid #0026ff;
}

input:focus{
  outline: #1c2b84;
  color: #fff;

}

.containerFilters{
  min-height: 200px;
}

/*card pokemon*/

.cardPokemon{
  background: #1733d31e;
  border: 1px solid #02adfd;
  width: 100%;
  min-height: 16rem;
  cursor: pointer;
  transition: .3s;
}

.imgPokemon{
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 30px;
  object-fit: fill;
}

.btnMoreDetails{
  width: 100%;
  display: block;
  text-align: center;
  background: #06145c;
  background: #057abd;
  color: #fff;
}

.cardDetailPokemon{
  width: 100%;
  min-height: 400px;
  background: #1733d31e!important;
}


@media screen and (min-width:768px) {
  .form input{
    width: 400px;
  }
  
  .bannerContent{
    width: 100%;
  }
  
  .imgBanner{
    width: 90%;
    height: 750px;
    object-fit: cover;
  }

  .containerFilters{
    position: sticky;
    top: 50px;
  }

  .cardDetailPokemon{
    width: 700px;
    background: #1733d31e!important;
    border: 1px solid #02adfd;
  }

  .imgDetailPokemon{
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}

@media screen and (min-width:992px) { 
 
  .bannerContent{
    width: 100%;
  }
  
  .imgBanner{
    width: 550px;
    height: 500px;
    object-fit: cover;
  }

  .cardPokemon:hover{
    border: 1px solid #02adfd;
    transform: scale(1.05);
    transition: .3s;
  }

  .cardPokemon:hover .btnMoreDetails{
    background: #03a3ff;
    color: #fff;
  }

  .cardDetailPokemon{
    width: 900px;
    background: #1733d31e!important;
  }
}

@media screen and (min-width:1200px) { 
 
  .bannerContent{
    width: 100%;
  }
  
  .imgBanner{
    width: 550px;
    height: 750px;
    object-fit: cover;
  }

  .cardPokemon{
    width: 12.5rem;
  }
}
 

@media screen and (min-width:1400px) { 
  .cardPokemon{
    width: 15rem;
  }
 
}
