.bgColor{
  background: #060B28;
}

.bannerHome{
  width: 100%;
  background:#cfe2ef;
  background: #ECEFF4;
  /* background: #EB6C6C; */
  background: #060B28;
  height: 100vh;
}

.bannerContent{
  margin-top: 50px;
  width: 100%;
}

.bannerDescription{
  height: 250px;
}

.bannerContent .btnBanner{
  width: 280px;
  background: #d82912;
  font-size: 20px;
  color: #f7f7f7;
}

.bannerContent .btnBanner:hover{
  background: #ff1e00aa;
}

.imgBanner{
  width: 100%;
  height: 450px;
  object-fit: cover;
}

@media screen and (min-width:768px) {

  
  .bannerContent{
    width: 100%;
  }
  
  .imgBanner{
    width: 90%;
    height: 750px;
    object-fit: cover;
  }
}

@media screen and (min-width:992px) { 
 
  .bannerContent{
    width: 100%;
  }
  
  .imgBanner{
    width: 550px;
    height: 500px;
    object-fit: cover;
  }
}

@media screen and (min-width:1200px) { 
 
  .bannerContent{
    width: 100%;
  }
  
  .imgBanner{
    width: 550px;
    height: 750px;
    object-fit: cover;
  }
}